<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miseventoskotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MisEventosKotlin">
        <activity
            android:name=".Ej06QuesoJamonLechugaAtivity"
            android:exported="true" />
        <activity
            android:name=".Ej05NoMiresActivity"
            android:exported="false" />
        <activity
            android:name=".Ej04RotacionActivity"
            android:exported="false" />
        <activity
            android:name=".Ej03BotonParasitadorActivity"
            android:exported="false" />
        <activity
            android:name=".Ej02ContadoresActivity"
            android:exported="false" />
        <activity
            android:name=".Ej01VariantesCallbackActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>